from telebot.types import InlineKeyboardMarkup, InlineKeyboardButton, ReplyKeyboardMarkup, KeyboardButton
import telebot
from telebot.types import ReplyKeyboardRemove
from geopy.geocoders import Nominatim